@charset "UTF-8";

body{
    background-color: rgba(127, 255, 212, 0.993);
   
    

}

div#cadastro{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 900px;
    height: 500px;
    margin-left: 50px;
   
    border-radius: 10px;
    

}

div#res{
    margin-top: 30px;
    color: black;
    font-size: 15px;
    font-style: italic;
    
}